/* {
//    margin: 0;
//    padding: 0;
//    box-sizing: border-box;
//    font-family: "Poppins", sans-serif;
//    scroll-behavior: smooth;
//    -webkit-font-smoothing: antialiased;
/}*/

#root {

}
.App {
    width: 100vw;
}


.logo {
    height: 3em;
    padding: 1em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.navbar {
    background: #2C3333;
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 1em;
    top: 0;
    left: 0;
    width: 100%;
}

.logo-container {
    display: flex;
    flex-direction: row;
    max-width: fit-content;
    margin: 0;
}

.nav-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    max-width: fit-content;
}

.logo-placeholder {
    font-size: 2.4rem;
    font-weight: bolder;
    color: #E7F6F2;
}

.nav-links-container > a {
    font-size: 2rem;
    font-weight: bold;
    color: #E7F6F2;
}

.hero {
    background: #2C3333;
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E7F6F2;
}

.after-hero {
    min-height: 100vh;
    width: 100%;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
